@model List<MVCDemo.Models.DBDataModel.Student>
@{
    ViewData["Title"] = "SelectClass";
    var Class = ViewBag.Class;
    var StudentData = ViewBag.StudentData;
    var SelectClass = ViewBag.SelectClassNum;
}
<div class="text-center">
    <form method="post" action="/Class/Create" id="ClassData">
        <table>
            <tr>
                <td align="left">
                    <span>學生: @(StudentData.StudentNum)(@StudentData.Name)</span>
                </td>
                <td>
                    <input type="button" onclick="SelectUpdate('@StudentData.StudentNum')" class="btn btn-primary" value="修改">
                </td>
            </tr>
            <tr>
                <td align="left">
                    @foreach (var ClassData in Class)
                    {
                        <input type="checkbox" name="SelectClass" id="@ClassData.ClassNum" value="@ClassData.ClassNum"><span>@ClassData.Name</span>
                    }
                </td>
            </tr>
        </table>
    </form>
</div>

@foreach (var ClassNum in SelectClass)
    {
        <script>
            document.getElementById('@ClassNum').checked = true;
        </script>
    }

<script>
    function SelectUpdate(StudentNum) {
        var SelectClass = [];
        $("input:checkbox[name=SelectClass]:checked").each(function () {
            SelectClass.push($(this).val());
        });

        if (SelectClass.length == 0) {
            alert("請選擇至少一個課程!");
            return false;
        }

        const url = "/SelectClass/Update";
        var JSONData = {
            StudentNum: StudentNum,
            ClassNum: SelectClass,
        }
        //console.log(PageSize, CurrentPage, ExecID, JSONData);
        $.ajax({
            type: "Post",
            url: url,
            ////更改contentType時後端取參數需要加入[FromBody]
            //contentType: "application/json",
            dataType: "json",
            data: JSONData,
            success: function (response) {
                if (response == 1) {
                    window.location.href = "/SelectClass";//需要跳轉的地址
                }
                else {
                    alert("資料異常!");
                }
            },
            error: function (thrownError) {
                console.log(thrownError);
            }
        });
    }
</script>
