@model MVCDemo.Models.DBDataModel.Class
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" action="/Class/Update" id="ClassData">
        <table>
            <tr>
                <td align="left">
                    課程代號
                    <input type="text" id="ClassNum" name="ClassNum" placeholder="ClassNum" readonly value="@Model.ClassNum">
                    <span class="text-danger"></span>
                </td>
                <td align="right">
                    課程名稱
                    <input type="text" id="Name" name="Name" placeholder="Name" value="@Model.Name">
                    <span class="text-danger"></span>
                </td>
                <td rowspan="3">
                    <input type="Submit" class="btn btn-primary" value="修改">
                    <input type="hidden" id="UniqueID" name="UniqueID" placeholder="UniqueID" value="@Model.UniqueID">
                </td>
            </tr>
            <tr>
                <td align="left">
                    學分數
                    <input type="text" id="Credit" name="Credit" placeholder="Credit" value="@Model.Credit">
                    <span class="text-danger"></span>
                </td>
                <td align="right">
                    講師名稱
                    <input type="text" id="Teacher" name="Teacher" placeholder="Teacher" value="@Model.Teacher">
                    <span class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    上課地點
                    <input type="text" id="Place" name="Place" placeholder="Place" value="@Model.Place">
                    <span class="text-danger"></span>
                </td>
            </tr>
        </table>
    </form>
    <script></script>

</div>

